<?xml version="1.0" ?>
<launch>
  <!-- Launch the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find motion_plan)/maps/my_map.yaml" />

  <!-- Launch the AMCL node for localization -->
  <node name="amcl" pkg="amcl" type="amcl" output="screen">
    <param name="odom_frame_id" value="odom" />
    <param name="odom_model_type" value="diff" />
    <param name="base_frame_id" value="base_link" />
    <param name="global_frame_id" value="map" />
    <param name="min_particles" value="100" />
    <param name="max_particles" value="5000" />
    <param name="kld_err" value="0.01" />
    <param name="kld_z" value="0.99" />
    <param name="update_min_d" value="0.1" />
    <param name="update_min_a" value="0.1" />
    <param name="initial_pose_x" value="0.0" />
    <param name="initial_pose_y" value="0.0" />
    <param name="initial_pose_a" value="0.0" />
  </node>

  <!-- Launch the move_base node for path planning and control -->
  <node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">
    <rosparam file="$(find navigation)/param/move_base.yaml" command="load" />
    <remap from="cmd_vel" to="mobile_base/commands/velocity" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find navigation)/rviz/navigation.rviz"/>

</launch>
